* {
  box-sizing: border-box;
}

.playerGridBox {
  display: flex;
  flex-direction: column;

  .thumbnails {
    display: block;
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 10px;
    max-width: 355px;
    max-height: 201px;
    width: auto;
    height: auto;
  }

  .title {
    margin-bottom: 10px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    color: #959595;
    font-size: 0.8em;
    font-weight: 600;
  }
}

.playerListBox {
  display: flex;
  width: 100%;

  .thumbnails {
    display: block;
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 10px;
    max-width: 180px;
    max-height: 140px;
    width: auto;
    height: auto;
  }
  .content {
    display: flex;
    flex-direction: column;

    .title {
      margin-left: 10px;
      margin-bottom: 10px;
      max-width: 200px;
    }

    .chnnelTitle {
      margin-left: 10px;
      font-size: 0.8em;
      color: #959595;
    }

    .date {
      margin-left: 10px;
      margin-bottom: 10px;
      font-size: 0.8em;
      color: #959595;
    }
  }
}
