.videoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;

  .player {
    width: 100%;
    height: auto;
  }

  .contents {
    width: 100%;
    height: auto;
    padding: 10px 10px;
  }

  .tag {
    color: #0350ff;
    margin-right: 10px;
  }

  .title {
    font-size: 1.3em;
  }

  .description {
    position: relative;

    .more,
    .briefly {
      display: block;
      font-size: 0.8em;
      color: #808080;
      cursor: pointer;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .player {
    padding: 0 40px;
  }
}
